<ion-grid>
    <ion-row>
      <ion-col offset-md-3 col-md-6 col-12>
        <div class="section-products">
          <ion-grid>
            <ion-row>
              <ion-item>
                <ion-col item-content col-12>
                  <h3>Lista di tutte le transazioni</h3>
                </ion-col>
              </ion-item>
            </ion-row>
          </ion-grid>



          <ng-container *ngIf="wallet != undefined && wallet.transaction != undefined && wallet.transaction.length > 0">
            <ion-grid>
              <ion-row responsive-sm *ngFor="let t of wallet.transaction">
                <ion-item>
                  <ion-col item-content col-1>
                    <ion-icon *ngIf="t.trash_token != null" name="ios-trash"></ion-icon>
                    <ion-icon *ngIf="t.trash_token == null" name="md-cart"></ion-icon>
                  </ion-col>
                  <ion-col text-wrap item-content col-5>
                    <ion-label>{{t.wcn}}</ion-label>
                  </ion-col>
                  <ion-col item-content col-4>
                    <ion-label class="positive" *ngIf="t.trash_token != null">+ {{t.credit}} </ion-label>
                    <ion-label class="negative" *ngIf="t.trash_token == null">- {{t.credit}} </ion-label>
                  </ion-col>
                  <ion-col item-content col-2>
                    <ion-icon *ngIf="t.trash_token != null" class="larger" (click)="goToDetail(t.product_id,true)" name="ios-arrow-dropright-circle-outline"></ion-icon>
                    <ion-icon *ngIf="t.trash_token == null" class="larger" (click)="goToDetail(t.product_id,false)"
                      name="ios-arrow-dropright-circle-outline"></ion-icon>
                  </ion-col>
                </ion-item>
              </ion-row>
            </ion-grid>
          </ng-container>

          <ng-container *ngIf="wallet == undefined || wallet.transaction == undefined || wallet.transaction.length == 0">
            <ion-label>Non ci sono transazioni</ion-label>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>