<ion-header>

  <ion-navbar>
    <ion-title>Dettaglio Pratica {{idPratica}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-lines>
    <ion-row>
        <ion-col *ngIf="isPreventivo" col-6>
            <div block class="square" (click)="printDocument()">
              <ion-icon class="icon-view-requests" name="text"></ion-icon>
              <h3>Stampa</h3>
              <h3>Preventivo</h3>
            </div>                  
        </ion-col>
     <!--  <button ion-button (click)="printDocument()">Stampa Preventivo</button> -->
   <!--  </ion-row>
    <ion-row col-12> -->
        <ion-col col-6>
            <div block class="square" (click)="goToListaDocumenti()">
              <ion-icon class="icon-view-requests" name="text"></ion-icon>
              <h3>Lista</h3>
              <h3>Documenti</h3>
            </div>                  
        </ion-col>
     <!--  <button ion-button (click)="goToListaDocumenti()">Lista Documenti</button> -->
    <!-- </ion-row>
    <ion-row col-12> -->
        <ion-col col-6>
            <div block class="square" (click)="goToListaValutazioni()">
              <ion-icon class="icon-view-requests" name="text"></ion-icon>
              <h3>Lista</h3>
              <h3>Valutazioni</h3>
            </div>                  
        </ion-col>
      <!-- <button ion-button (click)="goToListaValutazioni()">Lista Valutazioni</button> -->
    </ion-row>
  </ion-grid>


  <dynamic *ngIf="content != undefined" [content]="content"></dynamic>

  <ng-container *ngIf="rapporti != undefined">
      <div class="section-rapporti">
          <span><b>Lista dei rapporti</b></span>
        </div>
        
      <dynamic [preProcessingHook]="setFieldsCallback" [pageToRender]="pageToRender" [content]="rapporti"></dynamic>
  </ng-container>

  <ng-container *ngIf="listaValutazioni">
    <div class="dettaglio-lista-provoneri">
      <h3>Lista Valutazioni</h3>
    </div>
  
    <dynamic *ngIf="listaValutazioni != undefined && listaValutazioni.length > 0" [content]="listaValutazioni"></dynamic>

  </ng-container>





</ion-content>
