

<ng-container *ngIf="value?.type == 'attesa-autorizzazione-sconto'">
  <ion-row>
    <ion-col col-12 style="text-align: center;">
      <ion-badge class="badge-warning">
        attesa autorizzazione sconto
      </ion-badge>
    </ion-col>
  </ion-row>
</ng-container>


<ng-container *ngIf="value?.type == 'sconto-non-autorizzato'">
  <ion-row>
    <ion-col col-12 style="text-align: center;">
      <ion-badge class="badge-error">
        sconto non autorizzato
      </ion-badge>
    </ion-col>
  </ion-row>
</ng-container>


<ng-container *ngIf="value?.type == 'sconto-autorizzato'">
  <ion-row>
    <ion-col col-12 style="text-align: center;">
      <ion-badge class="badge-ok">
        sconto autorizzato
      </ion-badge>
    </ion-col>
  </ion-row>
</ng-container>

<ng-container *ngIf="value?.type == 'lista-rapporti'">


  <div class="section-rapporti">
    <span><b>Lista dei rapporti</b></span>
  </div>

  <ion-list class="section-rapporti" *ngIf="value?.rapporti.length > 0">
    <div *ngFor="let rp of value?.rapporti">
      <ion-row>
        <ion-col col-12>
          <button class="rap-button" color="light" block ion-item>
            <ion-row>
              <ion-col align-self-center col-6>
                ID
              </ion-col>
              <ion-col align-self-center col-6>
                {{rp.ID}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col align-self-center col-6>
                Tipo
              </ion-col>
              <ion-col align-self-center text-wrap col-6>
                <span *ngIf="rp.ProdottoDes">{{rp.ProdottoDes}}</span>
                <span *ngIf="!rp.ProdottoDes"> Non Disponibile</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col align-self-center col-6>
                Stato
              </ion-col>
              <ion-col align-self-center text-wrap col-6>
                <span *ngIf="rp.StatusDes">{{rp.StatusDes}}</span>
                <span *ngIf="!rp.StatusDes"> Non Disponibile</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col align-self-center col-6>
                Banca
              </ion-col>
              <ion-col align-self-center text-wrap col-6>
                <span *ngIf="rp.DesBanca">{{rp.DesBanca}}</span>
                <span *ngIf="!rp.DesBanca"> Non Disponibile</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col align-self-center text-wrap col-6>
                Importo Finaziamento
              </ion-col>
              <ion-col align-self-center text-wrap col-6>
                <span *ngIf="rp.ImportoErogato">€ {{rp.ImportoErogato | number}}</span>
                <span *ngIf="!rp.ImportoErogato"> Non Disponibile</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-wrap col-6>
                Importo Garanzia
              </ion-col>
              <ion-col align-self-center text-wrap col-6>
                <span *ngIf="rp.ImportoRichiesto">€ {{rp.ImportoRichiesto | number}}</span>
                <span *ngIf="!rp.ImportoRichiesto"> Non Disponibile</span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="rp.hasMotivazione && rp.hasMotivazione === true">
              <!-- <ion-col text-wrap col-6>
                Stato sconto: 
              </ion-col> -->
              <ion-col col-12 style="text-align: center;">
                &nbsp;
                <custom
                  *ngIf="rp.isAutorizzato == '0' || rp.isAutorizzato == ''"
                  [value]="{type: 'attesa-autorizzazione-sconto'}"></custom>
                <custom
                  *ngIf="rp.isAutorizzato == '1'"
                  [value]="{type: 'sconto-autorizzato'}"></custom>
                <custom
                  *ngIf="rp.isAutorizzato == '-1'"
                  [value]="{type: 'sconto-non-autorizzato'}"></custom>
              </ion-col>
            </ion-row>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>


  <div *ngIf="value?.rapporti.length == 0">
    <ion-row>
      <ion-col col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12>
        <ion-label class="no-rap">
          Non ci sono rapporti
        </ion-label>
      </ion-col>
    </ion-row>
  </div>


</ng-container>

<ng-container *ngIf="value?.type == 'documento'">
    <a ion-button target="_blank" [attr.href]="value?.link">Visualizza documento</a>
</ng-container>