dynamic {

    .readonly-cmp {
        pointer-events: none;
    }

    .card-list {
        border: 2px solid grey;
        background: #eee;
    }

    .no-more-elements {
        text-align: center;
        padding-bottom: 50px;
    } 

}
