page-home {

  .section-products {
    border-radius: 25px;
    background: white;
    padding: 10px;
    margin: 20px;
  }


  .positive {
    color: green;
  }

  .filter-select {
    max-width: 100% !important;
  }

  .select-padding {
    padding: 0px 2px 0px 0px;
  }

  .negative {
    color: red;
  }



  .whois {
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
  }

  .hr-style {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }

  .home-content {
    // background-color: #002f55;
    background: linear-gradient(#4989cf, #b6d7ea);
  }

  .home-button-background {
    //background: linear-gradient(#4989cf, #ffffff);
    position: relative;
  }

  // .home-button-background:after {
  //   content:'';
  //   position: absolute;
  //   top: 100%;
  //   left: 50%;
  //   margin-left: -30px;
  //   width: 0;
  //   height: 0;
  //   border-top: solid 30px #04294d;
  //   border-left: solid 30px transparent;
  //   border-right: solid 30px transparent;
  // }

  .item-md {
    padding-left: 0px !important;
  }

  .home-first-row {
    padding-top: 25px !important;
    padding-bottom: 0px !important;
  }

  .home-second-row {
    padding-top: 0px !important;
    padding-bottom: 25px !important;
  }

  .item-ios {
    padding-left: 0px;
    font-size: 1.6rem;
  }

}

/************
  
   IOS - ANDROID NATIVE CUSTOM CSS
  
  *************/

.toolbar-ios ion-title {
  padding-left: 60px;
  padding-right: 60px;
}

.platform-android .nav-title-image {
  margin-top: -5px;
  margin-left: 10px; // altrimenti slitta a sinistra a casusa delle icone grandi
  // margin-right: 10px; // altrimenti slitta a sinistra a casusa delle icone grandi
}

.platform-ios .nav-title-image {
  margin-top: -5px;
  /* margin-left: 10px; */
  // altrimenti slitta a sinistra a casusa delle icone grandi
  // margin-right: 10px; // altrimenti slitta a sinistra a casusa delle icone grandi
}


.list-ios>.item-block:first-child {
  border: 0px;
}

.list-ios>.item-block:last-child {
  border: 0px;
}

.platform-ios .card-margin-content {
  padding: 13px 16px 13px;
}


/************
  
   STANDARD CSS
  
  *************/

.nav-title-image {
  height: 45px;
}

.nav-title {
  text-align: center;
}


.large-icon {
  font-size: 25px;
}

// .section {
//   margin-left: 10px;
//   margin-right: 10px;
// }
.section-buttons-create {
  text-align: center;
  //background-color: #04294d; // old color: #cacfd6;
  // padding-top: 20px;
  // padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.section-buttons-view {
  text-align: center; // background-color:  rgb(235, 235, 235);
  //background-color: #04294d; // padding-top: 20px;
  // padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  // padding-bottom: 8px;
}

.section-buttons-others {
  text-align: center;
  //background-color: #04294d;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
}


.section-messages {
  // background-color: rgb(235, 235, 235);
  background-color: #04294d; // old color: #cacfd6;
  position: relative;
}


// .section-messages:after {
//   content:'';
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -30px;
//   width: 0;
//   height: 0;
//   border-top: solid 30px #04294d;
//   border-left: solid 30px transparent;
//   border-right: solid 30px transparent;
// }

.section-imprese {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-offerte {
  // background-color: rgba(66, 90, 109, 0.42);
  // background-color: rgba(216, 220, 197, 0.62);
  background-color: rgb(234, 236, 224);
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-richieste {
  // background-color: rgba(216, 220, 197, 0.62);
  // background-color: rgba(66, 90, 109, 0.42);
  background-color: rgb(184, 193, 200);
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-footer {
  background-color: #00294b;
  color: #b3b3b3;
  padding: 40px 20px 50px 20px;
  text-align: center;
}

.section-imprese-title {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #397fbc; // color: #EE2303;
  font-size: 30px;
  text-align: center;
}

.section-imprese-sub-title {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #2a5d8a;
  font-size: 20px;
  text-align: center;
}

.section-offerte-title {
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
}

.section-richieste-title {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #EE2303;
  font-size: 30px;
  text-align: center;
}

.section-button {
  text-align: center;
  padding-top: 15px
}

// ion-col {
//   border: 1px solid red;
// }
.card-sub-section {
  border-top: 1px solid #ddd;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-sub-section-btns {
  text-align: center;
}

.card-home-message-button {
  float: right;
  padding-right: 5px;
  margin-bottom: 5px;
}

.card-home-message-bold {
  color: #d47e0c;
}

button {
  ion-badge {
    position: absolute; // top: -0.2rem;
    right: 6px;
    opacity: 0.9;

    &~ion-icon {
      margin-right: 1.2rem;
    }
  }
}

.square {
  width: 100% !important;
  // height: 0 !important;
  // padding: 50% 0 50% 0 !important;
  // min-height: 100px;
  // min-height: 300px;
  background-color: white;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

  padding: 10px;

  border: 1px solid #a7b1bb;
}

.square ion-icon {
  font-size: 60px;
  margin-bottom: 10px;
  color: #353535;
}


.square h3 {
  font-size: 1.4rem;
  padding: 0;
  text-transform: uppercase;
  color: #00294B;
  margin-top: 0px !important;
  margin-bottom: 2px !important;
}


.home-button-1 {
  background-color: #fff;
}

.home-button-2 {
  background-color: #eaece0;
}

.home-button-3 {
  background-color: #b8c1c8;
}

.animate-show-hide {
  transition: all linear 0.5s;
}
