page-rapporti {

    .hr-style {
        border-bottom: 1px solid #ccc;
        margin: 10px 10px;
        width: 50%;
        text-align: center;
      }

    .section-rapporti{
        margin-top: 10px;
        margin-left:15px;
        margin-bottom: 5px;
        margin-right: 15px;
    }

    .no-rap{
        text-align: center;
    }

    .rap-button {
        background-color: #c5c5c5;
    }

    .page-content {
        background: linear-gradient(#4989cf, #b6d7ea);
    }

}
