
<ion-header>

  <ion-navbar>
    <ion-title>Avvisi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-grid>

      <!-- TODO: search area -->
  
      <ng-container *ngFor="let item of items" responsive-sm>
  
          <ion-card class="card-list" (click)="goTo(item)">
            <!-- <ion-card-header>n° {{item.title}}</ion-card-header> -->
            <ion-card-content>
                <ion-row align-items-center>
                    <ion-col col-2>
                        <ion-checkbox color="dark" checked="{{item.ricevuta != '0'}}" disabled="true"></ion-checkbox>
                    </ion-col>
                    <ion-col col-10>
                        <b>{{item.data_creazione}}</b>
                        <br>
                        {{item.messaggio}}
                    </ion-col>
                  </ion-row>
            </ion-card-content>
          </ion-card>
        
      </ng-container>
  
    </ion-grid>
  
  
    <!-- TODO: pagination... infinite scroll? -->
    <div *ngIf="isPageEnd == true" class="no-more-elements">
      <ion-row>
        <ion-col col-12>
            Non ci sono più elementi
        </ion-col>
      </ion-row>
    </div>



</ion-content>
