page-localization {

    .web-cam{
        margin: 0 auto !important;
        display: table;
        padding: 10px !important;
    }

    .linked{
        text-align: center;
    }

    .check-link{
        font-size: 40px;
    }
}
