<!--
  Generated template for the LocalizationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button *ngIf="utilsProvider.isMobile()" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Collegati con un dispositivo</ion-title>
    <ion-buttons end>
      <button (click)="goToHome()" ion-button>
        <ion-icon name="home" class="large-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ng-container *ngIf="webOk">
    <div class="web-cam">
      <p *ngIf="!flag && !loading">Scannerizza il QR Code per associarti al cestino</p>
      <div id="loadingMessage"></div>
      <canvas id="canvas" hidden></canvas>
      <div id="output" hidden>
        <div id="outputMessage"></div>
        <div hidden><b>Data:</b> <span id="outputData"></span></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!flag && !loading && !webOk">
    <p>Puoi inviare il codice</p>
    <button ion-button (click)="sendCode('trash')">Invia il codice</button>
  </ng-container>
  <ng-container *ngIf="flag && !loading">
      <p class="linked">
    <ion-icon class="check-link" name="ios-checkbox"></ion-icon>
    <br>
        
          Sei collegato ad un cestino</p>
  </ng-container>

  <div class="list-section-loadmore" *ngIf="loading">
    <!-- Caricamento dati... -->
    <ion-spinner name="crescent"></ion-spinner>
  </div>


</ion-content>
