<ion-header>

  <ion-navbar>
    <button *ngIf="utilsProvider.isMobile()" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Classifiche</ion-title>
    <ion-buttons end>
      <button (click)="goToHome()" ion-button>
        <ion-icon name="home" class="large-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let r of ranks">

      <ion-card-header>
        <h1>{{r.city}}</h1>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ng-container *ngFor="let b of r.bins">
            <ion-col col-12 item-content>
              <ion-row>
                <div class="credits-wallet">
                  <h2> {{b.id}}</h2>
                </div>

              </ion-row>
              <ion-row>
                <div class="credits-wallet">
                  <h2> {{viewUtils.getPropertyOrDefault(b,'coin')}} &nbsp;</h2> <img src="assets/imgs/coins.png" alt="img" />
                </div>
              </ion-row>
            </ion-col>
            <ion-list padding>
              <ng-container *ngFor="let u of b.users">
                <button ion-item>
                  <ion-icon name="contact" item-start></ion-icon>
                  {{u.name}} {{u.coin}}
                </button>
              </ng-container>
            </ion-list>
          </ng-container>
        </ion-list>


      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
