page-lista-prodotti {

    .product-img{
        width: 100px;
        height: 100px;
      }

      .buy-button{
        margin-top: 10px;
      }

      .margin-product-list{
          margin: 0 auto;
          text-align: center;
      }

      .credits-wallet{
        padding-bottom: 5px;
        display: -webkit-box !important;
        margin: 0 auto;
/*         width: 50%; */
      }
      .credits-wallet h2 {
        display: -webkit-box !important;
        text-align: center;
        font-size: 40px;
      }
      
      .credits-wallet img {
        max-width: 32px;
        vertical-align: middle;
      }
}
