page-dettaglio-rapporto {

    .dettaglio-lista-provoneri {
        margin-top: 20px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: #488aff;
        color: white;
    }

}
