<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <dynamic *ngIf="dettaglio != undefined" [content]="dettaglio"></dynamic>

    <ng-container *ngIf="lista">

          <div class="dettaglio-lista-provoneri">
            <h3>Proventi Oneri</h3>
          </div>
        
            <ion-card *ngFor="let item of lista">
              <ion-card-header>
                <b>{{item.Descrizione}}</b>
              </ion-card-header>
              <ion-list>
                <button class="rap-button" color="light" block ion-item
                  (click)="goToDettaglioProventiOneri(item.ID,item.Codice)">
                  <ion-row>
                    <ion-col align-self-center col-6>
                      Codice
                    </ion-col>
                    <ion-col align-self-center col-6>
                      {{item.Codice}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col align-self-center col-6>
                        Importo fisso
                      </ion-col>
                      <ion-col align-self-center col-6>
                        {{item.ImportoFisso}}
                      </ion-col>
                    </ion-row>

                    <!-- import sconto, motivazione sconto, accettazione sconto -->
                    <!-- <ion-row>
                        <ion-col align-self-center col-6>
                            Percentuale
                        </ion-col>
                        <ion-col align-self-center col-6>
                          {{item.Percentuale}}
                        </ion-col>
                      </ion-row> -->
                      <!-- <ion-row>
                          <ion-col align-self-center col-6>
                              Num_fattura
                          </ion-col>
                          <ion-col align-self-center col-6>
                            {{item.Num_fattura}}
                          </ion-col>
                        </ion-row> -->
                        <!-- <ion-row>
                            <ion-col align-self-center col-6>
                              Contabilizzato
                            </ion-col>
                            <ion-col align-self-center col-6>
                              {{item.Contabilizzato}}
                            </ion-col>
                          </ion-row> -->
                          <!-- <ion-row>
                              <ion-col align-self-center col-6>
                                  Data Contabilizzazione
                              </ion-col>
                              <ion-col align-self-center col-6>
                                {{item.DataContabilizzazione}}
                              </ion-col>
                            </ion-row> -->
                </button>
              </ion-list>
        
            </ion-card>
    
      </ng-container>



  
    

</ion-content>
