page-preventivo-sconti {

    .large-icon {
        font-size: 25px;
      }
    
      .list-filter-control {
        background-color: #eaeaea;
      }

      .input-md[clearInput] .text-input{
        padding: 0px !important;
      }
      .select-padding{
        padding: 0px 2px 0px 0px;
    }

    .list-section-loadmore {
      text-align: center;
      padding-bottom: 10px;
    }
}
