page-wallet {

    .positive{
        color: green;
    }

    .filter-select {
        max-width: 100% !important;
    }

    .select-padding{
        padding: 0px 2px 0px 0px;
    }

    .negative{
        color: red;
    }
}
